<div class="w-full card-height flex justify-center bg-gray-100 dark:bg-gray-900 p-6 ">
  <div
    class="container min-h-[500px] md:min-h-[1000px] bg-white dark:bg-gray-800 rounded-lg shadow-xl transition duration-300">
    <div class="w-1/2 flex align-center justify-center">
      <img [ngClass]="{'rotate-90': landmark()?.title === 'Dubai Frame'}"
        class="rounded-lg cursor-pointer max-w-full max-h-full object-contain image-class"
        [src]="landmark()?.photo_thumb" alt="{{landmark()?.title}}" (click)="openModal(landmark()?.photo ?? '')">
    </div>
    <div class="text-container">
      <h5 class="text-3xl font-bold mb-5 text-gray-900 dark:text-white">
        {{ landmark()?.title }}
      </h5>
      <div class="flex flex-col md:h-[400px] scrollbar-text mb-5">
        <p class="text-lg font-normal text-gray-700 dark:text-gray-400">
          {{ landmark()?.short_info }}
        </p>
        <br>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          <strong class="underline">Description:</strong> {{ landmark()?.description }}
        </p>
      </div>
      <p class="links w-full text-lg font-normal text-blue-500 dark:text-blue-300">
        <a [href]="landmark()?.url" target="_blank" class="hover:underline">Visit Landmark's Site</a>
        <a class="text-lg font-normal text-blue-500 dark:text-blue-300 hover:underline cursor-pointer"
          [routerLink]="['/']">
          Go Back to List
        </a>
      </p>

    </div>
  </div>
</div>

<app-modal [photoUrl]="photoUrl()" [showModal]="showModal()" (closeModalEvent)="closeModal()">
</app-modal>