<div class="w-full gap-4 h-full">
    <div href="#"
        class="flex items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-full justify-evenly"
        style="width: 100%;">
        <div class="w-1/2 w-[250px] h-[250px]">
            <img class="object-cover w-full h-full rounded-l-lg md:rounded-none md:rounded-s-lg"
                [src]="landmark.photo_thumb" alt="{{landmark.title}}">
        </div>
        <div class="w-1/2 flex flex-col items-center justify-center p-4 text-center">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white cursor-pointer"
                [routerLink]="['details', landmark.order]">
                {{landmark.title}}
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                {{landmark.short_info}}
            </p>
        </div>
    </div>
</div>